<div class="popover top">
  <div class="arrow"></div>
  <h3 class="popover-title"><%= order.title %></h3>
  <div class="popover-content">
    <dl class="dl-horizontal">
      <dt>地址</dt><dd><%= order.address %></dd>
    </dl>
  </div>
</div>
