<div id="content">
  <%= render "index" %>
</div>

<script type="text/javascript">
  var interval = setInterval(function() {
    var xhr = new XMLHttpRequest();
    xhr.open("GET", window.location.href + ".js", true);
    xhr.setRequestHeader('X-Requested-With','XMLHttpRequest');
    xhr.send();
    xhr.onreadystatechange = function() {
      if (xhr.readyState === 4 && xhr.status === 200) {
        eval(xhr.responseText);
      }
    }
  }, 5000)
</script>
