<span class="alert alert-block alert-success">正在向XX位技师发送用人信息...</span>
<ul class="table-view">
  <li class="table-view-cell media">
    <a class="navigate-right">
      <img class="media-object pull-left" src="http://placehold.it/60x60">
      <div class="media-body">
        <div class="media-block">
          <p class="pull-right">加价XX元</p>
          名称
        </div>
        <div class="media-block">
          <p class="pull-right">接单XX次</p>
          <p>专业5分 守时5分</p>
        </div>
      </div>
    </a>
  </li>
  <li class="table-view-cell media">
    <a class="navigate-right">
      <img class="media-object pull-left" src="http://placehold.it/60x60">
      <div class="media-body">
        <div class="media-block">
          <p class="pull-right">加价XX元</p>
          名称
        </div>
        <div class="media-block">
          <p class="pull-right">接单XX次</p>
          <p>专业5分 守时5分</p>
        </div>
      </div>
    </a>
  </li>
  <li class="table-view-cell media">
    <a class="navigate-right">
      <img class="media-object pull-left" src="http://placehold.it/60x60">
      <div class="media-body">
        <div class="media-block">
          <p class="pull-right">加价XX元</p>
          名称
        </div>
        <div class="media-block">
          <p class="pull-right">接单XX次</p>
          <p>专业5分 守时5分</p>
        </div>
      </div>
    </a>
  </li>
</ul>
