<div id="content">
  <%= render "index" %>
</div>

<script type="text/javascript">
  var interval = setInterval(function() {
    xhrRequest("GET", window.location.href + ".js", function(xhr) {
      eval(xhr.responseText);
    });
  }, 5000)
</script>
