<span class="alert alert-block segmented-items">
  <span class="item">现在（时间）</span>
  <span class="item">贴膜（类型）</span>
  <span class="item">价格（出价+加价）</span>
  <a class="item text-right" href="">详情</a>
</span>
<ul class="table-view">
  <li class="table-view-cell media">
    <img class="media-object pull-left" src="http://placehold.it/60x60">
    <div class="media-body">
      <div class="media-block">
        <p class="pull-right">加价XX元</p>
        名称
      </div>
      <div class="media-block">
        <p class="pull-right">接单XX次</p>
        <p>专业5分 守时5分</p>
      </div>
    </div>
  </li>
  <li class="table-view-cell">
    <a class="pull-right navigate-right" href="">查看全部评价</a>
  </li>
</ul>
<div class="content-padded">
  个人简介：

  <a href="" class="btn btn-block btn-positive">选择此技师（倒数读秒）</a>
</div>
