<%= content_for :title do %>
  我
<% end %>

<div class="jumbotron vertical-parent">
  <div class="text-center vertical-middle">
    <img src="http://placehold.it/100x100" alt="" class="img-circle">
  </div>
</div>

<div class="hero segmented-items segmented-items-bordered text-center">
  <div class="item">
    <h2>100</h2>
    <p>用人次数</p>
  </div>
  <div class="item">
    <h2>1,000</h2>
    <p>用人次数</p>
  </div>
</div>

<ul class="table-view">
  <li class="table-view-cell">
    联系地址
  </li>
  <li class="table-view-cell">
    账户余额
  </li>
  <li class="table-view-cell">
    <a class="navigate-right" href="">订单</a>
  </li>
  <li class="table-view-cell">
    <a class="navigate-right" href="">收藏技师</a>
  </li>
  <li class="table-view-cell">
    <a class="navigate-right" href="">设置</a>
  </li>
</ul>

