<h3 class="page-header">
  记事本
  <%= link_to "编辑", edit_merchants_note_path, class: "btn btn-primary btn-xs" %>
  <small><%= l @note.updated_at, format: :long %> 更新</small>
</h3>

<%= raw @note.content %>
