<h3 class="page-header">设置</h3>

<div class="col-md-2 col-xs-4">
  <ul class="nav nav-pills nav-stacked">
    <li class="<%= "active" if controller_name == "brands" %>"><%= link_to "车型管理", admin_setting_brands_path %></li>
    <li class="<%= "active" if controller_name == "series" %>"><%= link_to "车系管理", "/admin/setting/series" %></li>
  </ul>
</div>
