//= require select2
//= require select2-bootstrap

@import "dataTables/bootstrap/3/jquery.dataTables.bootstrap";
@import "dropzone/dropzone";
@import "bootstrap-sprockets";
@import "bootstrap";

.nav {
  .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
  }
}

.table {
  > thead, > tbody, > tfoot {
    > tr {
      > th, > td {
        vertical-align: middle;
        text-align: center;
      }
    }
  }

  .action {
    margin: 0 2.5px;
    text-decoration: none;
  }

  .attr_avatar img {
    width: 60px;
  }
}

.wice_index_for {
  .index_for {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;

    thead > tr > th {
      padding-right: 30px;
      white-space: nowrap;
    }

    thead .sorting,
    thead .sorting.asc,
    thead .sorting.desc,
    thead .sorting.asc.disabled,
    thead .sorting.desc.disabled {
      cursor: pointer;
      position: relative;
    }

    thead .sorting:after,
    thead .sorting.asc:after,
    thead .sorting.desc:after {
      position: absolute;
      top: 8px;
      right: 8px;
      display: block;
      font-family: 'Glyphicons Halflings';
      opacity: 0.5;
    }
    thead .sorting.asc.disabled:after,
    thead .sorting.desc.disabled:after {
      color: #eee;
    }
    thead .sorting:after {
      opacity: 0.2;
      content: "\e150"; /* sort */
    }
    thead .sorting.asc:after {
      content: "\e155"; /* sort-by-attributes */
    }
    thead .sorting.desc:after {
      content: "\e156"; /* sort-by-attributes-alt */
    }
  }

  .index_for_info {
    padding-top: 8px;
  }

  .index_for_pagination ul {
    margin: 0;
  }
}

table.dataTable thead > tr > th {
  white-space: nowrap;

  &.sorting_disabled {
    padding-right: 8px;
  }
}

.dataTables_wrapper {
  .form-inline {
    display: inline-block;
    margin: 0;

    label {
      margin-right: 20px;
    }
  }
}

.dataTables_length select {
  margin: 0;
  font: inherit;
  text-transform: none;
}

.dataTables_filter input, .dataTables_length select {
  height: $input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
  padding: $padding-base-vertical $padding-base-horizontal;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $input-color;
  background-color: $input-bg;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid $input-border;
  border-radius: $input-border-radius; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.
  @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
  @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);

  // Customize the `:focus` state to imitate native WebKit styles.
  @include form-control-focus;

  // Placeholder
  @include placeholder;

  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    background-color: $input-bg-disabled;
    opacity: 1; // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655
  }

  &[disabled],
  fieldset[disabled] & {
    cursor: $cursor-disabled;
  }

  // [converter] extracted textarea& to textarea.form-control
}

.dataTables_filter .select2 {
  width: auto!important;
}

// DataTables Select
.dataTables_info {
  .select-info {
    margin-left: 10px;
  }
}

.dataTable {
  .glyphicon-select:before {
    content: "\e157";
  }

  .selected {
    background-color: #f5f5f5;

    .glyphicon-select:before {
      content: "\e067";
    }
  }
}

.dropzone {
  border: 2px dashed #CCC;
  border-radius: 5px;
  background: white;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 90px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;

  .container {
    padding: 0 15px;
    margin-bottom: 0;

    .text-muted {
      margin: 20px 0;
    }

    .divider {
      display: inline-block;
      width: 20px;
    }
  }
}

.select2 {
  width: 100%!important;
}

.form-inline {
  margin-bottom: 15px;

  .form-group {
    min-width: 150px;
    margin-right: 15px;
  }
}
