@import "bootstrap/alerts";
.alert {
  ul {
    margin-top: 10px;
    padding-left: 30px;
  }
}
.alert-block {
  display: block;
  border-radius: 0;
  margin-top: 0;
}
ul.alert {
  padding-left: 30px;
}
span.alert {
  margin-bottom: 0;
}
