/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "ratchet";
body, .bar {
  position: static;
}
.content-padded {
  margin: 11px 15px;
}

.margin-top-large { margin-top: 50px; }
.margin-bottom-large { margin-top: 50px; }

@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "alert";
@import "text";
@import "form";
@import "table";

// Rounded corners
.img-rounded {
  border-radius: $border-radius-large;
}
// Perfect circle
.img-circle {
  border-radius: 50%; // set radius in percents
}

.input.file label {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.btn-positive:visited,
.btn-negative:visited,
.btn-primary:visited {
  color: #fff;
}
.btn-mini {
  padding: 3px 4px 4px;
}

.segmented-items {
  position: relative;
  display: table;
  overflow: hidden;
  table-layout: fixed;
  width: 100%;

  .item {
    display: table-cell;
    width: 1%;
    // padding-top: 6px;
    // padding-bottom: 7px;
    overflow: hidden;
    line-height: 1;
    text-overflow: ellipsis;
  }

  &.segmented-items-bordered .item {
    border-right: solid 1px #eee;
  }
}

.media {
  .media-object {
    max-width: 60px;
  }
}

.jumbotron {
  min-height: 200px;
  height: 200px;
  width: 100%;
  padding: 10px;
  background: #eee;

  &.mini {
    min-height: 100px;
    height: 100px;
  }

  img, .image {
    line-height: 0;
    height: 100px;
    width: 100px;
  }
}

.hero {
  margin: 15px 0 10px;
}

// Horizontal description lists
//
// Defaults to being stacked without any of the below styles applied, until the
// grid breakpoint is reached (default of ~768px).
dl {
  dt {
    float: left;
    height: 25px;
    line-height: 25px;
    width: 33%;
    clear: left;
    @include text-overflow;
  }
  dd {
    @include clearfix; // Clear the floated `dt` if an empty `dd` is present
    margin-left: 33%;
    line-height: 25px;
  }
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #eee;
  margin: 0;
  padding: 0;
}

#qr_code {
  width: 100%;
}

// user sessions
#user_session_verification_code {
  max-width: 40%;
  max-width: calc(75% - 125px);
}

#user_session_verification_code_button {
  float: right;
  width: 33%;
  width: calc(115px);
  font-size: 17px;
  padding: 8px;
}

#new_session_desc {
  padding-left: 20px;
  font-size: 14px;
  color: #777;
}

.user_mechanic__create {
  font-weight: bold;
}

::-webkit-scrollbar {
  display: none;
}
