@import "admin";

.form-control.datetime {
  max-width: 18%;
  max-width: calc(20% - 8.5px);
  display: inline-block;
}

.datetime-input-group {
  white-space: nowrap;
  overflow: visible;
}

.stars .glyphicon {
  font-size: 24px;
}

.qrcode {
  table {
    border-width: 0;
    border-style: none;
    border-color: #0000ff;
    border-collapse: collapse;
  }

  td {
    border-left: solid 10px #000;
    padding: 0;
    margin: 0;
    width: 0px;
    height: 10px;

    &.black { border-color: #000; }
    &.white { border-color: #fff; }
  }
}

.custom-service-button {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAQAAABuvaSwAAAAzElEQVR4AY3Kr0qDcRSA4bNgmUkZSyr2YVkWwTtYEZNFxLQ0wajZZrJ4AcIQ1O4fLHoFpkXTTDIXNoQ9RtEf+p3nrW9EaLk28p+RKy0R2sYyxtrhTtZtmMiahNKbvgtDhXLumxdC3WX1vKTh2aOGBZ9V86kHsCl8VM1wb1fNBpl51Zxtw9y8Yg1y845efkZ+XrdFKcyU9hwqzcJA1iB0ZXVDzbGpKlNHaiGEpo6ed8CrA/s/6mgKEb47By+WRdnv+QxPFkVmPnGjLv7uC9s8WoTqo+lHAAAAAElFTkSuQmCC");
  background-size: 22px 22px;
  background-repeat: no-repeat;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.23);
  position: absolute;
  right: 60px;
  bottom: 36px;
  width: 48px;
  height: 48px;
  cursor: pointer;
  background-position: center;
  background-color: #333333;
  border-color: #0b0b0b;
}

.footer {
  .popover {
    width: 250px;
  }
}

.mr20 {
  margin-right: 20px;
}
