@import "admin";

.container {
  margin-bottom: 50px;
}

.form-control.datetime {
  max-width: 18%;
  max-width: calc(20% - 8.5px);
  display: inline-block;
}

.datetime-input-group {
  white-space: nowrap;
  overflow: visible;
}
