@import "admin";

.form-control.datetime {
  max-width: 18%;
  max-width: calc(20% - 8.5px);
  display: inline-block;
}

.datetime-input-group {
  white-space: nowrap;
  overflow: visible;
}

.stars .glyphicon {
  font-size: 24px;
}

.qrcode {
  table {
    border-width: 0;
    border-style: none;
    border-color: #0000ff;
    border-collapse: collapse;
  }

  td {
    border-left: solid 10px #000;
    padding: 0;
    margin: 0;
    width: 0px;
    height: 10px;

    &.black { border-color: #000; }
    &.white { border-color: #fff; }
  }
}
