// Place all the styles related to the UserSessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user_session_verification_code {
  max-width: 40%;
  max-width: calc(75% - 125px);
}

#user_session_verification_code_button {
  float: right;
  width: 33%;
  width: calc(115px);
  font-size: 17px;
  padding: 8px;
}
