<h3 class="page-header">找回密码</h3>

<div class="row">
  <div class="col-md-7">
    <%= bootstrap_simple_form_for(@merchant, url: verification_code_merchants_merchant_path) do |f| %>
      <%= f.error_messages %>

      <%= f.input :mobile %>

      <%= f.button :submit, "验证手机", class: "btn-primary pull-right" %>
    <% end %>
  </div>
</div>
