<dl>
  <dt>QQ</dt>
  <dd>
    <a class="wpa-qq" target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=2414298952&amp;site=qq&amp;menu=yes"><img width="77" height="22" border="0" src="http://pub.idqqimg.com/wpa/images/counseling_style_52.png" alt="点击这里给我发消息" title="点击这里给我发消息"/></a>
    <a class="wpa-qq" target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=2720742963&amp;site=qq&amp;menu=yes"><img width="77" height="22" border="0" src="http://pub.idqqimg.com/wpa/images/counseling_style_52.png" alt="点击这里给我发消息" title="点击这里给我发消息"/></a>
    <a class="wpa-qq" target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=2789394040&amp;site=qq&amp;menu=yes"><img width="77" height="22" border="0" src="http://pub.idqqimg.com/wpa/images/counseling_style_52.png" alt="点击这里给我发消息" title="点击这里给我发消息"/></a>
  </dd>
</dl>
<dl>
  <dt>手机</dt>
  <dd>18135687782</dd>
</dl>
<dl>
  <dt>电话</dt>
  <dd>0371-55957051</dd>
  <dd>0371-55957053</dd>
  <dd>0371-55957054</dd>
</dl>
